.column {
    width: 49%;
    margin-right: .5%;
    min-height: 300px;
    background: #FFF;
    float: left;
}

.column .dragbox{
    margin: 5px 2px 20px;
    background: #FFF;
    position: relative;
    border: 1px solid #BBD9EE;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.column .dragbox h2{
    margin: 0;
    font-size:12px;
    padding: 5px;
    background: #E7F1F8;
    color: #000;
    border-bottom:1px solid #BBD9EE;
    cursor: move;
}

.dragbox-content{
    background: #FFF;
    min-height: 100px;
    margin: 5px;
}

.column .placeholder{
    background: #F0F0F0;
    border: 1px dashed #DDD;
}