# Default ignore list file for Sandscape.
#
# ignore NetBeans IDE project folder
nbproject/
# development local folder
/_dev/ignore/
# Mac/Windows files
.DS_Store
Thumbs.db
# Card images
/www/_game/cards/*.jpg
/www/_game/cards/*.png
/www/_game/cards/thumbs/*.jpg
/www/_game/cards/thumbs/*.png
# Exclude system card images from ignore  list
!cardback.jpg
!noimage.jpg
