html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;text-align: left;background: #FFF;padding-bottom:20px}
a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; margin-bottom: 5px;}
h3 { padding: 0; margin: 0; margin-bottom: 5px;}
h4 { padding: 0; margin: 0; margin-bottom: 5px;}
h5 { padding: 0; margin: 0; margin-bottom: 5px;}

div#header{width:100%;overflow:hidden;background: #BBD9EE; }
div#header h1,div#menu{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: #FFF}

#headertools {
    float: right;
    margin-top: .5em;
    margin-right: 3em;
    font-size: 80%;
}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{float:right;font-size: 80%}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #FFF; border-left : 1px solid #FFF; border-right : 1px solid #FFF;}
ul#nav a:hover{background: #FFF;color: #000}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}

#left {
    float: left;
    width: 76%;
    padding: 1em;
    margin-bottom: 1.2em;
    text-align: justify;
    border: #EEE solid 5px;
}

#right {
    float: right;
    width: 20%;
    margin: 0 0 10px 0;    
}

#right .box {
    padding: 1em;
    margin: 0 0 1em 0;
    /*border: #FFF6BF solid 5px;*/
}


#content {
    font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
    margin: 0 auto;
    padding: 15px;
    background: #FFF;
}

ul {  padding: 0; margin: 0;}

li {
    list-style-type: none;
}

#left * li {
    /*border-bottom: #BBD9EE dashed 1px;*/
    margin-bottom: 0.5em;
}

input, select, textarea {
    border: #0066B3 solid 1px;
}

label {
    width: 16%;
    float:left;
}

#footer {
    clear: both;
    font-size: 80%;
}

#footer p {
    text-align: center;
}

fieldset {
    border: #0066B3 solid 1px;
    margin-bottom: 1em;
}

fieldset legend {

    font-style: italic;
}

table {
    width: 100%;
}

ul#tools li {
    margin-bottom: 0.3em;
    background: #FFF6BF;
    padding: 0.3em 0 0.3em 0.5em;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}

button img {
    vertical-align: middle;
}

.required {
    color: red;
}

#themepreviewdiv {
}

#themepreviewscrn {
    width: 640px;
    height: 320px;
    border: solid 1px #BBD9EE;
    margin-bottom: 0.4em;
}

#themepreviewdescription {
    background: #EEE;
    border: solid 1px #BBD9EE;
    padding: 0.5em;
}

#themepreviewerror {
    color: red;
}

.themepreviewlabel {
    width: 16%;
    float: left;
}