@font-face { font-family: PoiretOne; src: url("../fonts/PoiretOne-Regular.ttf"); font-weight: 400; }

* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: PoiretOne, sans-serif;
    text-align: justify;
}

html, 
body {
    height: 100%;    
}

body {
    _background-color: #746f5d;
    overflow: hidden;
    background: url("../images/wood-background-2.jpg") repeat;
}

.opponent-area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 50%;
    background: pink;
}

.opponent-graveyard {
    height: 100%;
}

.opponent-play-area {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: green;
}

.opponent-card-preview {
    position: absolute;
    height: 360px;
    width: 260px;
    top: 0;
    right: 0;
    background-color: rgba(186, 179, 158, 0.5);
    text-align: center;
}

.opponent-card-preview img {
    margin-top: 3px;
}

.my-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50%;
    background: blue;
}

.my-hand {
    width: 260px;
    height: 100%;
    background-color: rgba(186, 179, 158, 0.5);
    _background-color: #BAB39E;
}

.my-play-area {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    background: red;
}

.my-graveyard {

}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **

.label {
    position: absolute;
    width: 80px;
    font-size: 10px;
    height: 14px;
    bottom: 3px;
    left: 10px;
    background-color: #222;
    color: #FFF;
    padding: 3px;
    z-index: 2;
}

div.card {
    margin: 0px;
    padding: 0px;
    border: 0px transparent;
    width: 81px;
    height: 115px;
}

div.card > img.face {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 81px;
    height: 115px;
}

div.card > img.token {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 1;
    width: 101px;
    height: 143px;
}


div.card > img.state {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: -1;
    width: 101px;
    height: 143px;
}

* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/