html, body {
    margin: 0;
    padding: 0;
    background: #BBD9EE;
}

body {
    font: 85%/1.3 TrebuchetMS, Arial, sans-serif;
}

.login {
    margin: 3em auto;
    width: 400px;
    height: 200px;
}

input, select, textarea {
    border: #0066B3 solid 1px;
}

label {
    width: 30%;
    float:left;
}

#footer {
    clear: both;
    font-size: 80%;
}

#footer p {
    text-align: center;
}

fieldset {
    background: #E7F1F8;
    border: #0066B3 solid 1px;
    margin-bottom: 1em;
}

fieldset legend {
    font-style: italic;
}

a, a:visited {
    color: #666;
}

a {
    text-decoration: none;
}

#recoverdiv {
    text-align: right;
}