#existingcards {
    height: 470px;
    overflow: auto;
}

#existingcards div {
    float: left;
    margin: 0.3em 0.3em 0 0;
}

#usecards {
    /*TODO: remove */
    border: 1px solid blue;
    min-height: 200px;
    position: relative;
}

.available {
}

.chosen {
    position: absolute;
    margin:0;
    padding:0;
}

.placeholder {
    width: 72px;
    height: 105px;
    border: 3px dashed green;
}

