/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
* {
    margin:0;
    border: none;
    padding:0;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
}

body {
    color: #333;
    background: url('../images/game-background.jpg') repeat;
}

#game-table {
}

#info-widget {
    width: 350px;
}

#card-info {
    text-align: center;
    margin-top: 3px;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.opponent-area {
    height: 100%;
    background: transparent url(../images/game-background-hline.png) repeat-x bottom left;
}

#play-area {
    height: 100%;
    overflow: hidden;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.hand {
    height: 100%;
    width: 350px;
    background: transparent url(../images/game-background-vline.png) repeat-y top right;
}

#deck-nob {
    position: absolute;
    top: 55%;
    right: 5px;
}

#deck-widget {
    height: 115px;
    position: absolute;
    right: 86px;
    top: 55%;
    overflow: hidden; 
    width: 0;
}

#deck-slide {
    height: 115px;
}

#chat {
    border: 1px solid white;
    text-align: center;
}

#chat ul {
    list-style: none;
    height: 120px;
    overflow: auto;
    font-size: 12px;
}

#writemessage {
    width: 330px;
    border-color: #666;
}

table {
    width: 100%;
}

table.grid {
    border-collapse: collapse;
}

table.grid * td {
    border: 1px solid transparent;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.play {
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 9999;
    overflow: auto;
    width: 120px;
    height: 122px;
}

div.card {
    margin: 0px;
    padding: 0px;
    border: 0px transparent;
    width: 81px;
    height: 115px;
}

div.card > img.face {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 81px;
    height: 115px;
}

div.card > img.token {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 1;
    width: 101px;
    height: 143px;
}


div.card > img.state {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: -1;
    width: 101px;
    height: 143px;
}

#file-menu {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 32px;
    height: 32px;
}

ul#file-menu-items {
    position: absolute;
    top: 34px;
    left: 5px;
    display: none;
    font-size: 12px;
    width: 185px;
    list-style: none;

    background-color: #eee;
}

ul#file-menu-items li {
    list-style: none;
    display: block;
    clear: both;
}

ul#file-menu-items li a{
    text-decoration: none; 
    display: block;
    padding: 10px;
}

ul#file-menu-items li a:hover {
}

ul.sub-menu {
    position: absolute;
    display: none;
    list-style: none;
    width: 185px;
    background-color: #eee;
    left: 186px;
}

ul#file-menu-items li:hover ul.sub-menu {
    display: block;
}
