/*#system {
    float: left;
    width: 296px;
}*/

/*#zoom {
    text-align: center;
    margin-top: 1em;
}*/

/*#system-events {
    margin: 1em auto;
    width: 290px;
    height: 150px;
}

#chat {

}

#chat input, #chat button {
    border: solid 1px #CFCEC3;
    margin-bottom: 1em;
}

#messages {
    width: 290px;
    margin: 1em auto;
    height: 200px;

}*/

#board {
    float: left;
}

/*UNIQUE CLASSES FOR JSONP/SERVER/WHATEVER/DOCUMENT LATER :) */
.opponent {
    padding-left: 100px;
    background-color: darkgreen;
}

.op-graveyard {
    position: absolute;
    left: 301px;
    bottom: 55%;
}

.op-deck {
    position: absolute;
    left: 301px;
    top: 1%;
}

.player {
    padding-right: 100px;
    background-color: green;
}

.graveyard {
    position: absolute;
    right: 1%;
    top: 55%;
}

.deck {
    position: absolute;
    right: 1%;
    bottom: 1%;
}


/*demo*/
/*.grid * td {
    border: solid 1px #000;
}

.grid {
    width: 100%;
    border-collapse: collapse;
}*/
