* {
    margin:0;
    border: none;
    padding:0;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #333;
    text-align: justify;
}

body {
    background: url('../images/8.jpg') repeat;
}

#game-table {

}

#top {
}

#info-widget {
    float: left;
    width: 350px;
}

#tools-widget {
    height: 30px;
}

#card-info {
    width: 95%;
    margin: .8em auto;
}

#opponent-area {
    height: 100%;
    float: left;
}

#play-area {
    height: 100%;
    overflow: hidden;
}

#hand {
    height: 100%;
    width: 350px;
}

#deck-nob {
    position: absolute;
    top: 55%;
    right: 5px;
}

#deck-widget {
    height: 115px;
    position: absolute;
    right: 86px;
    top: 55%;
    overflow: hidden; 
    width: 0;
}

#deck-slide {
    height: 115px;
}

#chat {
}

#chat {
    border: 1px solid black;
    border-top: none;
    width: 60%;
    position: absolute;
    top: -255px;
    height: 250px;
    left: 20%;
}

#chat ul {
    list-style: none;
    height: 200px;
    background-color: #FFF;
}