/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
* {
    margin:0;
    border: none;
    padding:0;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
}

body {
    color: #333;
    background: url('../images/8.jpg') repeat;
}

#game-table {
}

#top {
}

#info-widget {
    width: 350px;
}

#tools-widget {
    height: 30px;
}

#card-info {
    width: 95%;
    margin: .8em auto;
}

/* UNIQUE CLASS */
.opponent-area {
    height: 100%;

    /*TODO: REMOVE DEV VALUE */
    background-color: darkgreen;
}

#play-area {
    height: 100%;
    overflow: hidden;

    /*TODO: REMOVE DEV VALUE */
    background-color: green;
}

/* UNIQUE CLASS */
.hand {
    height: 100%;
    width: 350px;

    /*TODO: REMOVE DEV VALUE */
    background-color: gray;
}

#deck-nob {
    position: absolute;
    top: 55%;
    right: 5px;
}

#deck-widget {
    height: 115px;
    position: absolute;
    right: 86px;
    top: 55%;
    overflow: hidden; 
    width: 0;
}

#deck-slide {
    height: 115px;
}

#chat {
}

#chat {
    border: 1px solid black;
    border-top: none;
    width: 60%;
    position: absolute;
    top: -255px;
    height: 250px;
    left: 20%;
}

#chat ul {
    list-style: none;
    height: 200px;
    background-color: #FFF;
}

table {
    width: 100%;
}

table.grid {
    border-collapse: collapse;
}

table.grid * td {
    border: 1px solid transparent;
}

/* UNIQUE CLASS */
.play {    
    background-color: yellow;
}