#userlist {
    text-align: left;
    min-height: 250px;
}

#lobbychat {
    height: 420px;
    overflow: auto;
}

#gamelist {
    min-height: 250px;
}

#lobbychat li {
    padding-bottom: 0.5em;
}

.deck-list {
    width: 300px;
}

/**/
#simplemodal-overlay {
    background-color: #000;
}

#simplemodal-container {
    /*background-color: #9A5D0D;*/
    /*background-color: #CDA066;*/
    /*color: #FFF;*/
    background-color: #643A04;
    border: 8px solid #9A5D0D;
    padding: 12px;
    color: #CDA066;
}