* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #777777;
    text-align: justify;
}

a {
    text-decoration: none;
}

a, a:visited {
}

a:hover {
    color: #3397D5
}

#header {
    color: #CC6600;
}

ul {
    list-style: none;
}

#menu > ul {
    position: relative; 
}

#menu > ul li {
    float: left;
}

#menu > ul li.active {
    color: #FA7E02;
}

#menu > ul li a {
    display: block;
    padding: 4px 8px;
}

#menu > ul li.hover, #menu > ul li:hover { 
    position: relative; 
}

#menu > ul ul {
    visibility: hidden; 
    position: absolute; 
    top: 100%; left: 0; 
}

#menu > ul ul li {
    float: none; 
}

/* IE 6 & 7 Needs Inline Block */
#menu > ul ul li a {
    width: 100%;
    display: inline-block;
}

.centered {
    text-align: center;
}