* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #777777;
    text-align: justify;
}

a, a:visited {
}

a:hover {
    color: #3397D5
}

#header {
    color: #CC6600;
}

#menu ul{
    list-style-type: none;
}

#menu li {
    float: left;
    display: block;
    margin-right: 20px;
}

#menu li.active a{
    color: #FA7E02;
}