/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
li {
    list-style: none;
    cursor: pointer;
}

#selected-cards {
    min-height: 100px;
}

#selected-cards li span.card-count {
    float: right;
}