.error, .success, .validating {
    border: none;
    background-color: transparent;
    padding: 0;
}

.error input {
    border: 1px solid #FBC2C4;
}

.success input {
    border: 1px solid #C6D880;
}

span.required {
    color: #FF0000;
}

.errorMessage {
    color: #8A1F11;
}

input.textsmaller {
    background-color: #FFF;
    border:1px solid #BBB;
    color: #000;
    margin:0.5em 0;
    width:200px;
    padding:5px;
}

input.textsmaller:focuss {
    border-color: #666;
}