/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
* {
    margin:0;
    border: none;
    padding:0;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
}

body {
    color: #333;
    background-color: #746f5d;
    overflow: hidden;
    /*background: url('../../images/game-background.jpg') repeat;*/
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

#game-table {
    /*overflow: hidden;*/
}

#left-column {
    width: 270px;    
    /*
    width: 348px;
    border-right: 2px solid #CCC;
    */
}

#card-info {
    width: 270px;
    height: 382px;
    /*text-align: center;
    padding-top: 14px;*/
    /*border-right: 1px solid #4B421E;*/
}

#card-info .temp {
    position: absolute;
    top: 0;
    left: 0;
}
#card-image {
    /* //TODO: remove */
    width: 250px;
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 0;
}

#chat {
    /*Position to make slider work*/
    position: relative;
    border: 5px solid lightgrey;
    border-radius: 16px;
    -moz-border-radius: 16px;
    background: #FFF;
    font-size: 10px;
    text-align: center;
    padding: 0;

}

#chat ul {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    margin-bottom: 3px;
}

#content-view {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

#writemessage {
    position: absolute;
    bottom: 2px;
    left: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    width: 230px;
}

/*
COLOURS FOR CHAT MESSAGES

Opponent:
 - action: #d68e64
 - text: #000

Own:
 - text: #bfbfbf
 - action: #5e0000

Card name: #7ca8e0
*/

table {
    width: 100%;
}

table.grid {
    border-collapse: collapse;
}

table.grid * td {
    border: 1px solid transparent;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 9999;
    overflow: auto;
    width: 120px;
    height: 122px;
}

div.card {
    margin: 0px;
    padding: 0px;
    border: 0px transparent;
    width: 81px;
    height: 115px;
}

div.card > img.face {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 81px;
    height: 115px;
}

div.card > img.token {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 1;
    width: 101px;
    height: 143px;
}


div.card > img.state {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: -1;
    width: 101px;
    height: 143px;
}

.radialmenuOption {
    border: 1px solid #4297D7;
    background: white;
    border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    color: black;
    padding: 6px;
    z-index: 100;
    cursor: pointer;
}

#menu-slider {

}

#game-menu {
    position: absolute;
    right: -170px;
    top: 5px;
    z-index: 60;
}

#menu-elements {
    display: none;
    /*background: #FFF;*/
}

#menu-elements, .sub-menu {
    margin-left: 0.8em;
}

#menu-elements li, .sub-menu li {
    font-size: 14px;
    padding: 5px;
    /*border-bottom: 1px solid #AAA;*/
}