/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
* {
    margin:0;
    border: none;
    padding:0;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
}

body {
    color: #333;
    background: url('../images/game-background.jpg') repeat;
}

#game-table {
}

#left-column {
    width: 250px;
    /*
    width: 348px;
    border-right: 2px solid #CCC;
    */
}

#card-info {
    width: 250px;
    height: 350px;
}

#chat {
    border: 5px solid lightgrey;
    border-radius: 16px;
    -moz-border-radius: 16px;
    background: #FFF;
    font-size: 10px;
    color: #AAA;
    height: 150px;
    text-align: center;
}

#chat ul {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    height: 130px;
    overflow: auto;
}

#writemessage {
    border: 1px solid #CCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    width: 96%;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.opponent-area {
    height: 100%;
    /*background: transparent url(../images/game-background-hline.png) repeat-x bottom left;*/
}

#play-area {
    height: 100%;
    overflow: hidden;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.hand {
    width: 100%;
    /*background: transparent url(../images/game-background-vline.png) repeat-y top right;*/
}

#deck-nob {
    position: absolute;
    top: 55%;
    right: 5px;
}

#deck-widget {
    height: 115px;
    position: absolute;
    right: 86px;
    top: 55%;
    overflow: hidden; 
    width: 0;
}

#deck-slide {
    height: 115px;
}

table {
    width: 100%;
}

table.grid {
    border-collapse: collapse;
}

table.grid * td {
    border: 1px solid transparent;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.play {
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 9999;
    overflow: auto;
    width: 120px;
    height: 122px;
}

div.card {
    margin: 0px;
    padding: 0px;
    border: 0px transparent;
    width: 81px;
    height: 115px;
}

div.card > img.face {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 81px;
    height: 115px;
}

div.card > img.token {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 1;
    width: 101px;
    height: 143px;
}


div.card > img.state {
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: -1;
    width: 101px;
    height: 143px;
}

a {
    text-decoration: none;
}

#file-menu {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 32px;
    height: 32px;
}

ul#file-menu-items {
    position: absolute;
    top: 32px;
    left: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    display: none;

    font-size: 12px;
    background-color: #eee;
}

ul#file-menu-items li {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    /* Make sure (in IE) there is no margin between the menu items */
    float: left;
}

ul#file-menu-items li a{
    display: block;
}

ul#file-menu-items li a:hover {
    padding: 0;
}

ul#file-menu-items ul.sub-menu {
    position: absolute;
    top: 0;
    display: none;
    background-color: #eee;
    width: 200px;
}

ul#file-menu-items li ul.sub-menu li{}
ul#file-menu-items li ul.sub-menu li a:hover{}
ul#file-menu-items li:hover ul.sub-menu {
    display: block;
    left: 205px;
}

.radialmenuOption {
    border: 3px solid black;
    background: white;
    border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    color: black;
    padding: 6px;
    z-index: 100;
    cursor: pointer;
}