#chat {
    /*Merging CSS, see game.common.css*/
    height: 150px;
}

#content-view {
    height: 130px;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.opponent-area {
    height: 100%;
    background: transparent url(../../images/game-background-hline.png) repeat-x bottom left;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.hand {
    width: 100%;
    background-color: #BAB39E;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

/* UNIQUE CLASS: This class is handled as if it was an ID */
.play {
}

#chat-slider {
    position: absolute;
    height: 120px;
    top: 5px;
    right: 5px;
}

#decks {
    width: 100%;
    height: 100%;
}

.deck-info {
}

.deck-info-left {
    width: 169px;
    float: left;
}

.deck-info-right {
    width: 81px;
    float: left;
}

#decks h3 {
    text-align: center;
    font-style: italic;
}

.label {
    position: absolute;
    width: 80px;
    font-size: 10px;
    height: 14px;
    bottom: 3px;
    left: 10px;
    background-color: #222;
    color: #FFF;
    padding: 3px;
    z-index: 2;
}