/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
#userlist {
    text-align: left;
    min-height: 250px;
}

#lobbychat {
    height: 420px;
    overflow: auto;
}

#gamelist {
    min-height: 250px;
}

#lobbychat li {
    padding-bottom: 0.5em;
}

.deck-list {
    width: 300px;
}