/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #333;
    background: #E0E0E0 url(../../images/site-background-top.png) repeat-x;
}

#header {
    margin: 0;
    height: 100px;
    line-height: 90px;
    padding-left: 1em;
    color: #745124;
    background-color: #CDA066;
    font-family: "Brush Script Std", "Brush Script ";
    font-size: 42px;
}

.container {
    font-size: 12px;
    background-color: #FFF;
}

ul {
    list-style: none;
}

#menu {
    background-color: #FFF;
}

#menu > ul {
    position: relative;
    /*left: 6%;*/
    display: block;
}

#menu > ul li {
    float: left;
    display: list-item;
}

#menu > ul li.active > a {
    color: #FFF;
    background-color: #9A5D0D
}

#menu > ul li a {
    display: block;
    width: 154px;
    height: 24px;
    line-height: 24px;
    background-color: #643A04;
    margin: 1px;
    text-align: center;
    color: #CDA066;
}

#menu > ul li.hover, #menu > ul li:hover { 
    position: relative;
}

#menu > ul ul {
    visibility: hidden; 
    position: absolute;
    top: 100%;
    left: 0; 
}

#menu > ul ul li {
    float: none;
}

/* IE 6 & 7 Needs Inline Block */
#menu > ul ul li a {
    display: inline-block;
    width: 120px;

}

#menu a:hover {
    color: #FFF;
    background-color: #9A5D0D
}

#footer {
    color: #CDA066;
    background-color: #643A04;
    margin: 2em 0 1em 0;
    text-align: center;
}

#footer a:hover {
    color: #FFF;
}

h2, h3, h4 {
    color: #CDA066;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: #9A5D0D;
}

a:hover {
}

.centered {
    text-align: center;
}

.button {
    background-color: #643A04;
    text-align: center;
    color: #CDA066;
    padding: 0.5em 0.8em 0.5em 0.8em;
}

.button:hover {
    color: #FFF;
    background-color: #9A5D0D
}

#server-time {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: right;
    float:right;
    font-size: 11px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.yes {
    color: green;
}

.no {
    color: red;
}