/*Base: 9A5D0D, other: 735124, 643A04, CD8F40, CDA066*/
.yiiTab ul.tabs {
    padding: 2px 0;
    margin: 0;
    border-bottom: 1px solid #735124;
    font: bold 12px Verdana, sans-serif;
}

.yiiTab ul.tabs li {
    list-style: none;
    margin: 0;
    display: inline;
}

.yiiTab ul.tabs a {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    padding: 2px 0.5em;
    margin: 0 0 0 3px;
    border: 1px solid #735124;
    border-bottom: none;
    background: #d3dfee;
    text-decoration: none;
}

.yiiTab ul.tabs a:link {
    color: #667;
}

.yiiTab ul.tabs a:visited {
    color: #667;
}

.yiiTab ul.tabs a:hover {
    color: #000;
    background: #E6F2FF;
    border-color: #227;
}

.yiiTab ul.tabs a.active {
    background: white;
    border-bottom: 1px solid white;
}

.yiiTab div.view {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 8px;
    margin: 0;
}