body {
    text-align: justify;
}

/*SITE STRUCTURE*/
#site {
    width: 900px;
    margin: 0 auto;
}
#header {
    border-bottom: dashed 1px gray;
}

#logo {
    width: 200px;
    height: 100px;
    float: left;
}

#menu {
    float: left;
    height: 100px;
}

#center {
}

#content {
}

#footer {
    border-top: dashed 1px gray;
}

.clear {
    clear: both;
}

/*MAIN MENU*/
#menu ul {
    margin-top: 70px;
}

#menu li {
    display: inline;
    list-style: none;
    margin: 0 0.5em 0 0.5em;
}

#profile {
    text-align: right;
}

/*GENERAL CSS*/
a, img {
    border: none;
}

a {
    text-decoration: none;
}

/*LOBBY PAGE*/
#lobby {
    margin: 0.5em auto;
    height: 500px;
}

#lobby ul {
    margin: 0;
    padding: 0;
}

#lobby li {
    list-style: none;
}

#lobby-left {
    height: 90%;
    float: left;
    width: 70%;
}

#lobby-users {
    height: 100%;
    float: left;
    width: 30%;
    background-color: green;
}

#lobby-chat {
    height: 100%;
    float: left;
    width: 70%;
    background-color: gray;
}

#lobby-tools {
}

#lobby-right {
    height: 100%;
    float: left;
    width: 30%;
    background-color: yellow;
}


/*STATS PAGE*/